In [1]:
import urllib.request    # needed for download of the example database
import shutil            # needed for unziping of the example database

from sqlalchemy import * # package providing unified access to various databases
from sqlalchemy.orm import *
import os                # for checking existence/removing of a file
import pandas as pd

In [2]:
engine = create_engine("sqlite:///create.db",echo=False)
session = Session(engine)

%load_ext sql
%sql sqlite:///create.db

In [3]:
Students_summary = pd.read_sql("""SELECT Students.Universityid, Students.Name, Students.Email, Task.Title, Submission.Evaluation_finished, Score.Value
    FROM Students
    INNER JOIN Assignment USING (Universityid)
    INNER JOIN Task USING (Taskid)
    INNER JOIN Submission USING (Assignmentid)
    INNER JOIN Score USING (Submissionid)""",engine)
pd.DataFrame(Students_summary.groupby(['Universityid','Name','Email','Evaluation_finished'])['Value'].agg('sum'))

                                                                        Value
Universityid Name           Email                  Evaluation_finished
s3002428     Hanna Young    s3002428@leidenuniv.nl 0                     46.0
s3003252     Ellie Lloyd    s3003252@leidenuniv.nl 0                     40.1
s3003316     Reiter Jensen  s3003316@leidenuniv.nl 0                     35.7
s3004195     Cora Ayala     s3004195@leidenuniv.nl 0                     25.8
s3006578     Mary Miller    s3006578@leidenuniv.nl 0                     44.8
...                                                                       ...
s3095070     Betty Stevens  s3095070@leidenuniv.nl 0                     29.1
s3095536     Felix Rogers   s3095536@leidenuniv.nl 0                     49.5
s3095643     Lena Harvey    s3095643@leidenuniv.nl 0                     20.5
s3096676     Thomas Beck    s3096676@leidenuniv.nl 0                     51.6
s3099633     Harrell Benson s3099633@leidenuniv.nl 0                     54.7

[90 rows x 1 columns]