In [1]:
import urllib.request    # needed for download of the example database
import shutil            # needed for unziping of the example database

from sqlalchemy import * # package providing unified access to various databases
from sqlalchemy.orm import *
import os                # for checking existence/removing of a file
import pandas as pd

In [2]:
engine = create_engine("sqlite:///create.db",echo=False)
session = Session(engine)

%load_ext sql
%sql sqlite:///create.db

In [3]:
Students_detail = pd.read_sql("""SELECT Students.Universityid, Students.Name, Students.Email, Task.Taskid, Submission.Submissionid,
Score.Value, Answer.Answerid, Answer.Questionid, Question.Title
    FROM Students
    INNER JOIN Assignment USING (Universityid)
    INNER JOIN Task USING (Taskid)
    INNER JOIN Submission USING (Assignmentid)
    INNER JOIN Score USING (Submissionid)
    INNER JOIN Answer USING (Answerid)
    INNER JOIN Question USING (Questionid)""", engine)
Students_detail[['Universityid','Name','Email','Taskid','Questionid','Value']]

,Universityid,Name,Email,Taskid,Questionid,Value
0,s3015725,Orla Lloyd,s3015725@leidenuniv.nl,0,26,2.7
1,s3015725,Orla Lloyd,s3015725@leidenuniv.nl,0,28,9.0
2,s3015725,Orla Lloyd,s3015725@leidenuniv.nl,0,35,6.8
3,s3015725,Orla Lloyd,s3015725@leidenuniv.nl,0,40,1.5
4,s3015725,Orla Lloyd,s3015725@leidenuniv.nl,0,47,4.3
...,...,...,...,...,...,...
625,s3093799,Lena Hutchinson,s3093799@leidenuniv.nl,89,49,2.5
626,s3093799,Lena Hutchinson,s3093799@leidenuniv.nl,89,76,3.7
627,s3093799,Lena Hutchinson,s3093799@leidenuniv.nl,89,82,4.0
628,s3093799,Lena Hutchinson,s3093799@leidenuniv.nl,89,86,5.6
629,s3093799,Lena Hutchinson,s3093799@leidenuniv.nl,89,89,10.0