In [4]:
from sqlalchemy import * # package providing unified access to various databases
from sqlalchemy.orm import *
import os                # for checking existence/removing of a file
import pandas as pd

In [2]:
engine = create_engine("sqlite:///create.db",echo=False)
session = Session(engine)

%load_ext sql
%sql sqlite:///create.db

In [37]:
#return a dataframe of student details table
def studentDetailsDF():
    Students_detail = pd.read_sql("""SELECT Students.Universityid, Students.Name, Students.Email, Task.Taskid, Submission.Submissionid,
    Score.Value AS Score, Answer.Answerid, Answer.Questionid, Question.Title
        FROM Students
        INNER JOIN Assignment USING (Universityid)
        INNER JOIN Task USING (Taskid)
        INNER JOIN Submission USING (Assignmentid)
        INNER JOIN Score USING (Submissionid)
        INNER JOIN Answer USING (Answerid)
        INNER JOIN Question USING (Questionid)""", engine)
    
    return(Students_detail[['Universityid','Name','Email','Taskid','Questionid','Score']])

#return a row of a single student details table
def singleStudentDetailsDF(Universityid):
    stu_del = studentDetailsDF()
    stu_del_sing = stu_del[stu_del['Universityid'] == Universityid]
    
    return(stu_del_sing)

print(studentDetailsDF().head())
print(singleStudentDetailsDF('s3093799'))

  Universityid       Name                   Email  Taskid  Questionid  Score
0     s3015725  Orla Wang  s3015725@leidenuniv.nl       0          26    2.7
1     s3015725  Orla Wang  s3015725@leidenuniv.nl       0          28    9.0
2     s3015725  Orla Wang  s3015725@leidenuniv.nl       0          35    6.8
3     s3015725  Orla Wang  s3015725@leidenuniv.nl       0          40    1.5
4     s3015725  Orla Wang  s3015725@leidenuniv.nl       0          47    4.3
    Universityid           Name                   Email  Taskid  Questionid  \
623     s3093799  Lena Cummings  s3093799@leidenuniv.nl      89          42
624     s3093799  Lena Cummings  s3093799@leidenuniv.nl      89          47
625     s3093799  Lena Cummings  s3093799@leidenuniv.nl      89          49
626     s3093799  Lena Cummings  s3093799@leidenuniv.nl      89          76
627     s3093799  Lena Cummings  s3093799@leidenuniv.nl      89          82
628     s3093799  Lena Cummings  s3093799@leidenuniv.nl      89          86
629     s3093799  Lena Cummings  s3093799@leidenuniv.nl      89          89

     Score
623    5.3
624    5.2
625    2.5
626    3.7
627    4.0
628    5.6
629   10.0